# Django Core Framework
Django==5.1.6

# Django REST Framework for API development
djangorestframework==3.15.2

# CORS headers for frontend-backend communication
django-cors-headers==4.6.0

# Additional utilities for HTTP requests
requests==2.32.3

# Environment and Development Tools
python-decouple==3.8

# Date and Time utilities
pytz==2024.1

# Data Processing and Export
openpyxl==3.1.2
django-import-export==4.0.0

# Image Processing
Pillow==10.4.0
